In [1]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import os

In [2]:
data = pd.read_csv("city_bike.csv")
data.head()

,name,latitude,longitude,free_bikes,empty_slots
0,Ravenswood Ave & Lawrence Ave,41.969090,-87.674237,15,31
1,Lake Park Ave & 56th St,41.793242,-87.587782,11,8
2,Ada St & Washington Blvd,41.882830,-87.661206,4,10
3,Ashland Ave & Grace St,41.950687,-87.668700,8,7
4,Clark St & Wrightwood Ave,41.929546,-87.643118,9,5

In [3]:
data.describe()

          latitude    longitude   free_bikes  empty_slots
count  1420.000000  1420.000000  1420.000000  1420.000000
mean     41.843845   -87.666778     3.615493     5.837324
std       0.093952     0.058052     4.534579     5.918487
min      41.648501   -87.833817     0.000000     0.000000
25%      41.765757   -87.704876     0.000000     1.000000
50%      41.862367   -87.664719     2.000000     4.000000
75%      41.917875   -87.628686     6.000000     9.000000
max      42.064854   -87.528232    28.000000    39.000000

In [4]:


y = data['free_bikes']
indep = data.drop('free_bikes', axis=1)

# X=[]
# for column in indep.columns:
#     X.append(sm.add_constant(indep[column]))

#Create a model for each indep. variable
#list of X's (with constants)
X = [sm.add_constant(indep[column]) for column in indep.columns] 
X[0]

      const                           name
0       1.0  Ravenswood Ave & Lawrence Ave
1       1.0        Lake Park Ave & 56th St
2       1.0       Ada St & Washington Blvd
3       1.0         Ashland Ave & Grace St
4       1.0      Clark St & Wrightwood Ave
...     ...                            ...
1415    1.0     Indiana Ave & Roosevelt Rd
1416    1.0         Lincoln Ave & Byron St
1417    1.0     Wentworth Ave & Cermak Rd*
1418    1.0    Kedzie Ave & 24th St (Temp)
1419    1.0                   Hastings LWS

[1420 rows x 2 columns]

In [5]:
Models = [sm.OLS(y,x) for x in X] #list of models
Results = [model.fit() for model in Models] #list of results
Adj_Rsquared = [results.rsquared_adj for results in Results] #list of rsquared
Pval = [results.pvalues for results in Results] #list of p-values
Params = [results.params for results in Results] #list of params

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data). The types seen wereNone and const    float64
name      object
dtype: object. The data was
0       15
1       11
2        4
3        8
4        9
        ..
1415    12
1416     8
1417     9
1418     8
1419     0
Name: free_bikes, Length: 1420, dtype: int64
and
       const                           name
0       1.0  Ravenswood Ave & Lawrence Ave
1       1.0        Lake Park Ave & 56th St
2       1.0       Ada St & Washington Blvd
3       1.0         Ashland Ave & Grace St
4       1.0      Clark St & Wrightwood Ave
...     ...                            ...
1415    1.0     Indiana Ave & Roosevelt Rd
1416    1.0         Lincoln Ave & Byron St
1417    1.0     Wentworth Ave & Cermak Rd*
1418    1.0    Kedzie Ave & 24th St (Temp)
1419    1.0                   Hastings LWS

[1420 rows x 2 columns]
before. After,
[15 11  4 ...  9  8  0]
[[1.0 'Ravenswood Ave & Lawrence Ave']
 [1.0 'Lake Park Ave & 56th St']
 [1.0 'Ada St & Washington Blvd']
 ...
 [1.0 'Wentworth Ave & Cermak Rd*']
 [1.0 'Kedzie Ave & 24th St (Temp)']
 [1.0 'Hastings LWS']].

In [7]:
for i in range(len(Adj_Rsquared)):
     print(f'adj_R2: {Adj_Rsquared[i]:.3f}, P-values: {*Pval[i],}, column: {indep.columns[i]}')

NameError: name 'Adj_Rsquared' is not defined