In [19]:
import requests
import json
import os
import pandas as pd

In [20]:
business_id = '4U9kSBLuBDU391x6bxU-YA'

In [21]:
api_key = os.environ["YELP_API_KEY"]
headers = {'Authorization': 'Bearer %s' % api_key}

In [22]:
#Define the end point URL for the milano city bike network
endpoint = 'https://api.yelp.com/v3/businesses/search?radius=1000'

In [39]:
params = {'term':'Bike stations','location':'london'}

In [40]:
req=requests.get(endpoint, params=params, headers=headers)
 # proceed only if the status code is 200
print('The status code is {}'.format(req.status_code))

The status code is 200

In [41]:
# printing the text from the response 
bike_details = json.loads(req.text)

In [42]:
bike_details

{'businesses': [{'id': 'u_-9CC5FRg-FiA72hVAZtQ',
   'alias': 'london-bicycle-tour-co-london',
   'name': 'London Bicycle Tour Co',
   'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/EidwtcDzl7cXZ1IXJkxpkg/o.jpg',
   'is_closed': False,
   'url': 'https://www.yelp.com/biz/london-bicycle-tour-co-london?adjust_creative=fTSM8xnDvU99-EqonN-pgw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=fTSM8xnDvU99-EqonN-pgw',
   'review_count': 19,
   'categories': [{'alias': 'bikerentals', 'title': 'Bike Rentals'},
    {'alias': 'biketours', 'title': 'Bike tours'},
    {'alias': 'bikes', 'title': 'Bikes'}],
   'rating': 4.0,
   'coordinates': {'latitude': 51.4961682, 'longitude': -0.1119967},
   'transactions': [],
   'price': '££££',
   'location': {'address1': '74 Kennington Road',
    'address2': 'Kennington',
    'address3': '',
    'city': 'London',
    'zip_code': 'SE11 6NL',
    'country': 'GB',
    'state': 'XGL',
    'display_address': ['74 Kennington Road',
     'Kennington',
     'London SE11 6NL',
     'United Kingdom']},
   'phone': '+442079286838',
   'display_phone': '+44 20 7928 6838',
   'distance': 2486.912955215867}],
 'total': 1,
 'region': {'center': {'longitude': -0.135955810546875,
   'latitude': 51.51283552118349}}}

In [43]:
# Use json_normalize() to convert JSON to DataFrame
dict = bike_details
df2 = pd.json_normalize(dict['businesses'])

In [28]:
df2

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,coordinates.latitude,coordinates.longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,location.display_address
0,u_-9CC5FRg-FiA72hVAZtQ,london-bicycle-tour-co-london,London Bicycle Tour Co,https://s3-media1.fl.yelpcdn.com/bphoto/Eidwtc...,False,https://www.yelp.com/biz/london-bicycle-tour-c...,19,"[{'alias': 'bikerentals', 'title': 'Bike Renta...",4.0,[],...,51.496168,-0.111997,74 Kennington Road,Kennington,,London,SE11 6NL,GB,XGL,"[74 Kennington Road, Kennington, London SE11 6..."

In [29]:
bike_data = pd.DataFrame(df2, columns = ['name','review_count','location.address1','rating'])

In [30]:
bike_data

                     name  review_count   location.address1  rating
0  London Bicycle Tour Co            19  74 Kennington Road     4.0